<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>925547448724-6s9ls50inkndk03qfkvemdtnh722gs1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.925547448724-6s9ls50inkndk03qfkvemdtnh722gs1h</string>
	<key>API_KEY</key>
	<string>AIzaSyDpOHV7LIsTMuwyyojfbs9K4SPfR4vMhls</string>
	<key>GCM_SENDER_ID</key>
	<string>925547448724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bankingApp</string>
	<key>PROJECT_ID</key>
	<string>banking-app-8910f</string>
	<key>STORAGE_BUCKET</key>
	<string>banking-app-8910f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:925547448724:ios:6066e64d855128dd59a781</string>
</dict>
</plist>